$primary   : #FFFFFF;
$secondary : #87B438;
$accent    : #0E3133;

$dark      : #000000;
$dark-page : #121212;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;
